.container {
    max-width: 50%;
    min-height: 20%;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: center;
  
  .form-group {
    position: relative;
    padding: 10px 0 0;
    margin: 10px auto;
    width: 50%;
    .form-field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #525050;
        outline: 0;
        font-size: 14px;
        padding: 10px 0 2px;
        background: transparent;
        transition: border-color 1s;
      
        &::placeholder {
          color: transparent;
        }
      
        &:placeholder-shown ~ .form-label {
          font-size: 1rem;
          cursor: text;
          top: 15px;
        }
      }
      .form-field:focus {
        ~ .form-label {
          position: absolute;
          top: -2px;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: #5fb1bf;
        }
        border-width: 2px;
        border-color: #5fb1bf;
      }
      /* reset input */
      .form-field {
        &:required,
        &:invalid {
          box-shadow: none;
        }
      }
    .danger-text {
        color: #b40000;
        font-size: 12px;
      }
  }
  
  .form-label {
    position: absolute;
    top: -2px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #807f7f;
  }

  .btn{
      margin-top:5px;
      padding: 10px 15px;
      border-radius: 10px;
      border:1px solid #5fb1bf;
      background-color: #fff;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      display: inline-block;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
        background-color: #5fb1bf;
        color: #fff;
      }
  }

  .results-container{
      padding: 20px;
      .result{
        padding: 10px;
        display: flex;
        justify-content: center;
        .remove-btn{
            margin-left: 10px;
            text-align: center;
            border:1px solid #5fb1bf;
            background-color: #fff;
            border-radius: 25px;
            font-size: 10px;
            cursor: pointer;
            &:hover{
                background-color: #5fb1bf;
                color: #fff;
              }
        }
      }
  }
}